
<form>
    <div class="form-group">
        <label for="text">Text</label>
        <input ng-model = "model.widget.text" type="text" class="form-control" id="text" placeholder="place any text">
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input ng-model = "model.widget.url" type="url" class="form-control" id="url" placeholder="enter any url">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input ng-model = "model.widget.width" type="text" class="form-control" id="width" placeholder="100%">
    </div>
    <div class="form-group">
    <label for="Upload">Upload</label>
    <input id = "Upload"
           type="file"
           class="form-control"
           placeholder="size"/>
    </div>
</form>
<a class="btn btn-primary  btn-block upload">Upload Image</a>




