<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <div class="navbar-text pull-left">
                    <a href="#/user/{{model.params.uid}}/website/{{model.params.wid}}/page">
                        <span class="glyphicon glyphicon-chevron-left"></span></a>
                </div>
                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.params.uid}}/website/{{model.params.wid}}/page/new">
                        <span class="glyphicon glyphicon-plus"></span></a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand">Pages</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 pull-right">
                <div class="navbar-text pull-left hidden-sm hidden-md hidden-lg">
                    <a href="#/user/{{model.params.uid}}/website/{{model.params.wid}}/page/">
                        <span class="glyphicon glyphicon-chevron-left"></span></a>
                </div>
                <div class="navbar-text pull-right">
                        <span class="glyphicon glyphicon-ok" ng-click = "model.updatePage()"></span>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand">Edit page</a>
                </div>
            </div>

        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs scroll">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat  = "page in model.pages">
                    <a href="#/user/{{model.params.uid}}/website/{{model.params.wid}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                    <a href="#/user/{{model.params.uid}}/website/{{model.params.wid}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 pull-right">
            <div ng-if = "model.error" class="alert alert-danger">
                {{vm.error}}
            </div>
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input ng-model = "model.editPage.name" type="input" class="form-control" id="name" placeholder="Webpage Name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input ng-model = "model.editPage.description" type="input" class="form-control" id="description" placeholder="Webpage Title">
                </div>
            </form>
            <a class="btn btn-danger  btn-block"
               ng-click = "model.deletePage()">
                Delete
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.params.uid}}">
                <span class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>
