<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.params.uid}}/website">
            <span class="glyphicon glyphicon-chevron-left"></span></a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.params.uid}}/website/{{model.params.wid}}/page/new">
            <span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">Pages</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat = "page in model.pages">
            <a href="../../widget/widget-list.html">
                {{page.name}}
            </a>
            <a href="#/user/{{model.params.uid}}/website/{{model.params.wid}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.params.uid}}">
                <span class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>
